
{% extends '::base.html.twig' %}

{% block body %}

<div style="text-align: center;">
    Your e-mail address has been successfully removed from the database.
</div>

<!-- id: {{ id }}
mail: {{ mail }} -->

{% endblock %}
